
projects/mysite/.idea/inspectionProfiles/profiles_settings.xml
projects/mysite/.idea/misc.xml
projects/mysite/.idea/modules.xml
projects/mysite/.idea/mysite.iml
projects/mysite/.idea/vcs.xml
projects/mysite/db.sqlite3
